@font-face {
  font-family: 'Venite';
  src: local('Venite'), url(/fonts/VeniteAdoremus-rgRBA.ttf) format('truetype');
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#root {
  width: 100vw;
  height: 100vh;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 10rem;
  -webkit-transform: rotateY(180deg) scaleX(1.7);
  -moz-transform: rotateY(180deg) scaleX(1.7);
  -ms-transform: rotateY(180deg) scaleX(1.7);
  -o-transform: rotateY(180deg) scaleX(1.7);
  transform: rotateY(180deg) scaleX(1.7);
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: #053a5f;
  height: 0.5rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #053a5f;
  height: 0.5rem;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: #5cd5eb;
  height: 2rem;
  width: .7rem;    
}

/***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: #5cd5eb;
  height: 2rem;
  width: .7rem;
}

/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

/******** Firefox ********/
input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;     
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.blue-text {
  color: #5cd5eb;
}
.neo_descript {
  transform: unset !important;
  padding: 50px;
}

.a-details {
  top: -300px;
  opacity: 0;
  animation: smooth-appear 1s ease forwards;
  padding: 20px 30px 30px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  transform: unset;
  font-family: Venite;
  width: 500px;
  background-color: rgba(90,90,90, 1);
  border-radius: 15px;
  z-index: 99999;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.a-details button {
  max-height: 44px;
}

.center-absolute {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.hud-transform-unset {
  transform: unset !important;
  padding: 20px;
  z-index: 100000000!important; /* obscenely large z-index to override the built in three fiber dynamic z-index*/
}

.date-label {
  bottom: 150px!important;
  top: unset!important;
  margin-left: auto;
  margin-right: auto;
  left: 0 !important;
  right: 0 !important;
  font-family: 'Venite';
  text-align: center;
  width: 400px;
}

.pan-label {
  bottom: 170px!important;
  top: unset!important;
  left: unset!important;
  right: 13vw;
}

.planet-label {
  font-family: Venite;
  color: #5cd5eb;
  position: absolute;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: Black;
  font-size: 20px;
  z-index: 10!important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media only screen and (max-width: 800px) {
  .a-details{
    width: 300px!important;
    font-size: 16px;
  }
  .date-label{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    left: 0 !important;
    right: 0 !important;
  }
  .date-label  div div{
    font-family: 'Venite';
    text-align: center;
    font-size: 24px!important;
    width:220px!important;
    padding: 0!important;
  }
  .debug-hud {
    display: none;
  }

  .pan-label {
    top: 38px !important;
    left: 0 !important;
  }
}


@keyframes smooth-appear {
  to{
    top: 20px;
    opacity:1;
  }
}